Repository microsoft/rats: changes, and which pre-commit hooks are due for each by the changed paths.
All: oneml-habitats, oneml-pipelines, oneml-processors

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-ast
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-toml
      - id: check-yaml
      - id: debug-statements
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: fix-encoding-pragma
      - id: forbid-submodules
      - id: name-tests-test
      - id: pretty-format-json
      - id: trailing-whitespace
  - repo: local
    hooks:
      - id: oneml-habitats
        name: Run hooks in habitats package
        entry: "bin/commit-hooks oneml-habitats"
        language: script
        pass_filenames: false
        files: ^oneml-habitats/src/python/
        types: [python]
      - id: oneml-pipelines
        name: Run hooks in pipelines package
        entry: "bin/commit-hooks oneml-pipelines"
        language: script
        pass_filenames: false
        files: ^oneml-pipelines/src/python/
        types: [python]
      - id: oneml-processors
        name: Run hooks in processors package
        entry: "bin/commit-hooks oneml-processors"
        language: script
        pass_filenames: false
        files: ^oneml-processors/src/python/
        types: [python]

Fix type hint in ReadFromUriProcessorOutput
  oneml-processors/src/python/oneml/processors/io/read_from_uri.py
Due: oneml-processors

Update code formatting settings in oneml.code-workspace
  oneml.code-workspace
Due: none

Update dependabot.yaml and ci.yaml
  .github/dependabot.yaml
  .github/workflows/ci.yaml
Due: none

Update dependabot.yaml and ci.yaml (#16)
  .github/dependabot.yaml
  .github/workflows/ci.yaml
Due: none

Fix mypy and tests after merge.
  oneml-processors/src/python/oneml/processors/io/read_from_uri.py
  oneml-processors/src/python/oneml/processors/training/_persist_fitted.py
  oneml-processors/src/python/oneml/processors/training/_train_and_eval.py
Due: oneml-processors

Remove continue-on-error flag in test-components job
  .github/workflows/ci.yaml
Due: none

Remove continue-on-error flag in test-components job (#18)
  .github/workflows/ci.yaml
Due: none

Fix some pyright issues.
  oneml-processors/src/python/oneml/processors/dag/_viz.py
  oneml-processors/src/python/oneml/processors/utils/_namedcollection.py
  oneml-processors/src/python/oneml/processors/utils/_orderedset.py
  oneml-processors/src/python/oneml/processors/ux/_ops.py
  oneml-processors/test/python/oneml_test/processors/test_oset.py
Due: oneml-processors

Fix pyright.
  oneml-pipelines/src/python/oneml/pipelines/session/_contexts.py
  oneml-processors/src/python/oneml/processors/config/_hydra_clients.py
  oneml-processors/src/python/oneml/processors/io/type_rw_mappers.py
  oneml-processors/src/python/oneml/processors/utils/_namedcollection.py
  oneml.code-workspace
Due: oneml-pipelines, oneml-processors

Fix ruff and pyright.
  oneml-processors/pyproject.toml
  oneml-processors/src/python/oneml/processors/io/read_from_uri.py
  oneml-processors/src/python/oneml/processors/pipeline_operations/_collection_to_dict.py
  oneml-processors/test/python/oneml_test/processors/conftest.py
  oneml-processors/test/python/oneml_test/processors/pipeline_operations/test_build_manifest_processor.py
  oneml-processors/test/python/oneml_test/processors/pipeline_operations/test_collection_to_dict.py
  oneml-processors/test/python/oneml_test/processors/pipeline_operations/test_load_inputs_save_outputs.py
  oneml-processors/test/python/oneml_test/processors/test_concat_arrays.py
  oneml-processors/test/python/oneml_test/processors/test_diamond_yaml.py
  oneml-processors/test/python/oneml_test/processors/test_pipeline_drops.py
  oneml-processors/test/python/oneml_test/processors/test_pipeline_rename.py
  oneml-processors/test/python/oneml_test/processors/test_processor_type.py
  oneml.code-workspace
Due: oneml-processors

Fixes.
  oneml-pipelines/poetry.lock
  oneml-pipelines/pyproject.toml
  oneml-processors/pyproject.toml
Due: none

Ruff check and format.
  oneml-pipelines/test/python/oneml_test/pipelines/building/test_builder_client.py
  oneml-pipelines/test/python/oneml_test/pipelines/building/test_node_multiplexing.py
  oneml-pipelines/test/python/oneml_test/pipelines/building/test_node_namespacing.py
  oneml-pipelines/test/python/oneml_test/pipelines/dag/test_structs.py
  oneml-pipelines/test/python/oneml_test/pipelines/session/test_session.py
  oneml-pipelines/test/python/oneml_test/pipelines/session/test_session_client.py
Due: none

Fixes.
  oneml-habitats/pyproject.toml
  oneml-habitats/src/python/oneml/habitats/pipeline_operations/_datasets/_ampds_uri_service.py
  oneml-habitats/src/python/oneml/habitats/pipeline_operations/_datasets/_prepare_and_publish_service.py
  oneml-habitats/src/python/oneml/habitats/pipeline_operations/_datasets/_utils.py
  oneml-habitats/src/python/oneml/habitats/pipeline_operations/_datasets/_write_storage_location_service.py
  oneml-habitats/src/python/oneml/habitats/pipeline_operations/_publish_dataset_processors.py
  oneml-habitats/src/python/oneml/habitats/pipeline_operations/_publish_outputs_as_dataset.py
  oneml-pipelines/src/python/oneml/app/_oneml_app.py
  oneml-pipelines/src/python/oneml/examples/io2/_data.py
  oneml-pipelines/src/python/oneml/examples/io2/_di_container.py
  oneml-pipelines/src/python/oneml/io/_io_data.py
  oneml-pipelines/src/python/oneml/io2/_local_json_plugin.py
  oneml-pipelines/src/python/oneml/services/__init__.py
  oneml-pipelines/src/python/oneml/services/_executables_client.py
  oneml-pipelines/src/python/oneml/services/_service_container.py
  oneml-pipelines/test/python/oneml_test/services/test_contexts.py
  oneml-pipelines/test/python/oneml_test/services/test_service_container.py
Due: oneml-habitats, oneml-pipelines

fix.
  oneml-habitats/src/python/oneml/habitats/pipeline_operations/_datasets/_utils.py
Due: oneml-habitats

Relock.
  oneml-habitats/poetry.lock
Due: none

Pyright fixes.
  oneml-habitats/src/python/oneml/habitats/io/_blob.py
  oneml-habitats/src/python/oneml/habitats/pipeline_operations/_datasets/_blob_store_base_location_service.py
  oneml-habitats/src/python/oneml/habitats/pipeline_operations/_datasets/_publish_service.py
  oneml-habitats/src/python/oneml/habitats/pipeline_operations/_datasets/_read_commit_service.py
  oneml-habitats/test/python/oneml_test/habitats/datasets/test_utils.py
Due: oneml-habitats

Other components.
  oneml-adocli/poetry.lock
  oneml-adocli/pyproject.toml
  oneml-devtools/poetry.lock
  oneml-devtools/pyproject.toml
Due: none

Undo changes.
  oneml-pipelines/src/python/oneml/app/_oneml_app.py
  oneml-pipelines/src/python/oneml/services/_service_container.py
Due: oneml-pipelines

Temporary fix for pyright.
  oneml-pipelines/src/python/oneml/app/_oneml_app.py
  oneml-pipelines/src/python/oneml/services/_service_container.py
Due: oneml-pipelines

Update linter and formatter in commit-hooks script to pyright.
  bin/commit-hooks
Due: none

Substitute mypy for pyright.
  .github/workflows/ci.yaml
Due: none

👷 Add CodeQL workflow for automated code analysis
  .github/workflows/codeql-analysis.yml
Due: none

👷 Add CodeQL workflow for automated code analysis (#22)
  .github/workflows/codeql-analysis.yml
Due: none

💚 Regression upload-artifact action to v3
  .github/workflows/ci.yaml
Due: none

💚 Regression upload-artifact action to v3 (#23)
  .github/workflows/ci.yaml
Due: none

💚 Update download-wheels action to v3
  .github/workflows/ci.yaml
Due: none

try to improve how our pr ci builds work
  .github/workflows/pr.yaml
Due: none

try to upgrade upload/download artifact actions
  .github/workflows/ci.yaml
Due: none

fix copy paste error
  .github/workflows/ci.yaml
Due: none

fix ci pipeline annoyances (#29)
  .github/workflows/ci.yaml
  .github/workflows/pr.yaml
Due: none

devtools depends on pipelines now
  oneml-devtools/.idea/oneml-devtools.iml
Due: none

some package switches in devtools
  oneml-devtools/poetry.lock
  oneml-devtools/pyproject.toml
Due: none

try to make a friendlier service container interface
  oneml-devtools/src/python/oneml/devtools/_container.py
Due: none

make an example cli application with proper di support and other goodies
  oneml-devtools/src/python/oneml/devtools/__main__.py
  oneml-devtools/src/python/oneml/devtools/_app.py
  oneml-devtools/src/python/oneml/devtools/_cli.py
  oneml-devtools/src/python/oneml/devtools/_click.py
Due: none

some fun testing of cli functionality
  oneml-devtools/src/python/oneml/devtools/_cli.py
Due: none
